* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.slider-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: 30px;
  color: rgb(138, 135, 135);
}

.counter {
  padding: 0 15px;
}

.counter-current {
  font-size: 50px;
  color: #000000;
}

.arrow {
  width: 20px;
  cursor: pointer;
}

.arrow-prev {
  transform: scale(-1, 1);
}

.slide {
  display: flex;
  justify-content: center;
}

.slide img {
  width: 1000px;
  height: 600px;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
